<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link 
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap"
    />

    <link 
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap"
    />

    <title>{{ course }}</title>

  </head>
  <body>
    <div class="header">
      <h1 style="margin-left: 80px;">{{ program }} | {{ course }}</h1>
      <h1 style="margin-right: 80px;"><a href="/">Home</a></h1>
    </div>

    <div class="main_container">
      <table>
        <tr>
          <th style="width: 200px">Email</th>
          <th style="width: 200px">First name</th>
          <th style="width: 200px">Last name</th>
          <th style="width: 200px">Grade (/20)</th>
        </tr>
        {% for info in grades %}
        <tr>
          <td><a href="/{{ program }}/{{ info[1] }}_{{ info[2] }}">{{ info[0] }}</a></td>
          <td><a href="/{{ program }}/{{ info[1] }}_{{ info[2] }}">{{ info[1] }}</a></td>
          <td><a href="/{{ program }}/{{ info[1] }}_{{ info[2] }}">{{ info[2] }}</a></td>
          <td>{{ info[3] }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class="bottom">
      <h3 style="margin-left: 20px;"><div id="clock"></div></h3>   
      <script src="{{ url_for('static', filename='js/clock.js') }}"></script> 
      <img src="/static/images/Epita.png" height="80%" alt="EPITA">
      <h3 style="text-align: right; margin-right: 20px;">Made by Ilia Tiskin</h3>
    </div>
  </body>
</html>